<h1>Listing people</h1>

<h4>Search through the database</h4>
  <%= form_tag search_index_path, method: :get do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Go", class: 'btn btn-default'%>
<% end %>


<h4>Select a Date range</h4>
<%= form_tag people_path, method: :get  do %>
<%= text_field_tag 'search[date_from]', @search.date_from %>
<%= text_field_tag 'search[date_to]', @search.date_to %>
<%= submit_tag "Search", class: 'btn' %>
<% end %>



<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>First name</th>
      <th>Middle name</th>
      <th> 
        <%= sortable "last_name" %>
      </th>
      <th>Email</th>
      <th>Office address</th>
      <th>Phone</th>
      <th>Rank description</th>
      <th>Interest areas</th>
      <th>Department</th>
      <th>Category</th>
      <th>Au user name</th>
      <th>Intructional areas</th>        
      <th>Monday hours</th>
      <th>Tuesday hours</th>
      <th>Wednesday hours</th>
      <th>Thursday hours</th>
      <th>Friday hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.middle_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.email %></td>
        <td><%= person.office_address %></td>
        <td><%= person.phone %></td>
        <td><%= person.rank_description %></td>
        <td><%= person.interest_areas %></td>
        <td><%= person.department_id %></td>
        <td><%= person.category_id %></td>
        <td><%= person.au_user_name %></td>
        <td><%= person.instructional_areas %></td>
        <td><%= person.monday_hours %></td>
        <td><%= person.tuesday_hours %></td>
        <td><%= person.wednesday_hours %></td>
        <td><%= person.thursday_hours %></td>
        <td><%= person.friday_hours %></td>
        <td><%= link_to 'Show', person %></td>
        <td>
          <% if current_user %>
            <%# link_to 'Edit', edit_person_path(person) %>
          <% end %>
        </td>
        <td>
          <% if current_user %>
            <%# link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
  <%# link_to 'New Person', new_person_path %>
  <hr>
 <% end %>  
    <div class="well">
      <%= form_tag import_people_path, multipart: true do %>
        <%# file_field_tag :file %>
        <br>
        <%# submit_tag "Import New People", class: 'btn btn-default' %>
      <% end %>
    </div>
 

  <div class="well">
    <h3>Download</h3>
    <%# link_to "Download as CSV", people_path(format: "csv") %> 
  </div>




